<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BasicDietApp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E0029F281B3BA0EF005FE395</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E0029F3E1B3BA0F0005FE395</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E0029F491B3BA0F0005FE395</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
